<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h3>Edit Listing</h3>
                <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate
                    class="needs-validation" enctype="multipart/form-data">
                    <div>
                        <label for="title" class="form-label">Title</label>
                        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control"
                            required>
                    </div>
                    <div>
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control"
                            required><%= listing.description %></textarea>
                    </div>
                    <div>
                        <img src=<%= originalImageUrl %> alt="Image of listing">
                    </div>
                    <div>
                        <label for="image" class="form-label">Upload New Image</label>
                        <input name="listing[image]" type="file" class="form-control">
                    </div>
                    <div>
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control"
                            required>
                    </div>
                    <div>
                        <label for="location" class="form-label">Location</label>
                        <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control"
                            required>
                    </div>
                    <div>
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control"
                            required>
                    </div>
                    <button class="btn btn-dark mt-3 add-btn">Edit</button>
                </form>
            </div>
        </div>
    </body>